<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>CrownPeak</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link rel="icon" type="image/x-icon" href="https://www.crownpeak.com/assets/images/favicon.ico" />
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="assets/css/docs.css" rel="stylesheet">
<link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
   <![endif]-->
<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-146052-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" >
<!--MAIN CONTENT-->
<div id="main-content">
  <!--HEADER-->
  <header id="header">
    <!--SUB HEADER-->
    <div class="sub-header">
      <div class="container">
        <div class="row-fluid show-grid">
          <div class="span6">
            <ul>
              <li><a href="index.html"><img src="assets/images/home.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/search.png" alt=""></a></li>
              <li class="demo"> Request A Demo <span><em>or</em>&nbsp; Call Us 1.800.887.1944</span></li>
            </ul>
          </div>
          <div class="span6 right-head">
            <ul class="header-social">
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact Us</a></li>
              <li class="bgnone social-icon"><a href="#" target="_blank"><img src="assets/images/fb.png" alt=""></a></li>
              <li class="bgnone social-icon"><a href="#" target="_blank"><img src="assets/images/tw.png" alt=""></a></li>
              <li class="in"><a href="#" target="_blank"><img src="assets/images/in.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--SUB HEADER ENDS-->
    <div class="container">
      <!--LOGO-->
      <div class="row-fluid show-grid">
        <div class="span4 headerlogo">
          <a href="index.html" class="logo">CrownPeak</a>
        </div>
        <!--LOGO ENDS-->
        <div class="span8 ">
          <!--NAV-->
          <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">Menu</button>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li> <a href="#">Our Platform</a> </li>
                  <li> <a href="#">Digital Marketing</a> </li>
                  <li> <a href="#">Our Products</a> </li>
                  <li class="active"> <a href="#">Case Studies</a> </li>
                </ul>
              </div>
            </div>
          </div>
          <!--NAV Ends-->
        </div>
      </div>
    </div>
    <div class="bot-shadow"></div>
  </header>
  <!--HEADER ENDS-->
  <!--SUB MENUS-->
  <div class="sub-menu">
    <div class="container">
      <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#" class="active">Tools for Digital Marketing</a></li>
        <li><a href="#">Submenuitem</a></li>
        <li><a href="#">Submenuitem</a></li>
      </ul>
    </div>
  </div>
  <!--SUB MENUS ENDS-->
  <!--INSIDE BANNER-->
  <div class="inside-banner">
    <div class="container">
      <div class="row show-grid">
        <div class="span5 caption-inner">
          <h1>Web Content Management For the Modern Marketer</h1>
          <p>Digital marketing today requires sophistication and speed that yesterday’s marketers and webmasters could only dream of. </p>
          <div class="slide-btn"> <a href="https://marketing.crownpeak.com/acton/form/3020/0057:d-0001/1/index.htm" class="btn" target="_blank">Request Demo</a><a href="#" class="learn-more green-btn btn">Learn more</a></div>
        </div>
      </div>
    </div>
  </div>
  <!--INSIDE BANNER ENDS-->
  <!--Client Testimonials-->
  <div class="client_testimonials mtopnone">
    <div class="container">
      <div class="client-info">
        <p>"We spun this company out of the parent on very short notice.<br/> CrownPeak had all of our public sites live on their platform in 4 weeks.  Incredible." </p>
        <span class="director">Director Online Marketing, Regional Telecom</span> </div>
    </div>
  </div>
  <!--Client Testimonials Ends-->
  <div class="container">
    <div class="row-fluid show-grid">
      <div class="span6 digital-con">
        <h2>Deliver Exceptional Digital Experiences (without IT)</h2>
        <p class="bigfont">Digital Marketers need full control over the channels where they deliver digital experiences. Only CrownPeak lets enterprise digital marketers to independently own the Digital<a href="#"> Experience Layer.</a></p>
        <ul class="list-style">
          <li>ndependent control of digital content, look and feel</li>
          <li>Seamless integration with IT-managed components</li>
          <li>Enable non-technical teams to localize, personalize, and optimize for mobile devices</li>
        </ul>
        <div class="buttons clearfix">
          <a class="show_hide btn tile-toggle" data-toggleID="1">Toggle Content</a>
          <a href="https://marketing.crownpeak.com/acton/form/3020/0057:d-0001/1/index.htm" class="btn" target="_blank">Request Demo</a>
        </div> 
      </div>
      <div class="span6"><img src="assets/images/ipad.jpg" alt=""></div>
    </div> 
  </div>
  
  <!--SLIDING DIV-->
  <div class="slidingDiv toggle-content" data-toggleID="1">
    <div class="container">
      <div class="row-fluid show-grid">
        <div class="span7">
          <p>CrownPeak's SaaS-based architecture separates marketing-driven elements that drive the digital experience into their own secure and manageable environment, called the Digital Experience Layer (TM). This Digital Experience Layer consists of marketing content, look and feel, personalization, localization and mobile optimization.</p>
          <p>Managing the Digital Experience Layer as a separate function enables organizations to launch new web and mobile projects and campaigns fast, without any IT effort.  Marketing can implement CrownPeak directly and gain full control over the entire digital experience, often for less than the cost of having an agency do a small campaign.</p>
        </div>
        <div class="span5">
          <ul class="list-style">
            <li> Empower regional groups while maintaining control over corporate data, security, and regulatory requirements.</li>
            <li>Quickly launch and update new websites, landing pages or campaigns without IT involvement</li>
            <li>Unleash multiple agency resources with a single interoperable platform</li>
            <li>Deliver and manage content across multiple channels </li>
            <li>"Wrap" IT-managed portals and applications with personalized marketing content</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--SLIDING DIV ENDS-->
  
  <div class="bgbot"></div>
  <div class="container">
    <div class="row-fluid show-grid">
      <div class="span6"><img src="assets/images/drive.jpg" alt=""></div>
      <div class="span6 digital-con">
        <h2>Drive results with game changing digital marketing tactics</h2>
        <p class="bigfont">CrownPeak goes beyond traditional web content management and gives digital marketers exceptionally powerful tools. CrownPeak’s SaaS-based architecture lets digital marketers avoid the pitfalls of on-premise systems and focus on what matters: driving business results with exceptional campaigns.</p>
        <ul class="list-style">
          <li>Improve engagement and conversions with personalization and localization</li>
          <li>Optimize for mobile devices</li>
          <li>Social media and content marketing</li>
        </ul>
        <div class="buttons clearfix">
          <a href="https://marketing.crownpeak.com/acton/form/3020/0057:d-0001/1/index.htm" class="btn" target="_blank">Request Demo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bgbot"></div>
  <div class="container">
    <div class="row-fluid show-grid digital-con">
      <div class="span6 ">
        <h2>Launch websites FAST</h2>
        <p class="bigfont">Speed and frequency are the critical enablers of marketing success. Every day a digital project waits to go live results in lost revenue. CrownPeak eliminates these lost opportunities by enabling site launches and updates in a fraction of the time required by traditional solutions.</p>
        <ul class="list-style">
          <li>Launch sites in as little as six weeks</li>
          <li>Eliminate lengthy migration processes</li>
        </ul>
        <div class="buttons clearfix">
          <a class="show_hide btn tile-toggle" data-toggleID="3">Toggle Content</a>
          <a href="https://marketing.crownpeak.com/acton/form/3020/0057:d-0001/1/index.htm" class="btn" target="_blank">Request Demo</a>
        </div>
      </div>
      <div class="span6"><img src="assets/images/websites.jpg" alt=""></div>
    </div>
  </div>

  <!--SLIDING DIV-->
  <div class="slidingDiv toggle-content" data-toggleID="3">
    <div class="container">
      <div class="row-fluid show-grid">
        <div class="span6">   
          <h4>“We spun this company out of the parent on very short notice. CrownPeak had all of our public sites live on their platform in 4 weeks.  Incredible.”</h4>
          <p>VP Digital, big brand telecommunications company</p>
        </div>
        <div class="span6 whitepaper">
          <div class="row-fluid show-grid">
            <div class="span2"><img src="assets/images/white-paper.png" alt=""></div>
            <div class="span10">
              <strong>White Paper: </strong>
              <h2>The Business Case for a SaaS-based Web Content Management System.</h2>
              <a href="#" class="btn">Download Whitepaper</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--SLIDING DIV ENDS-->

  <div class="bgbot"></div>
  <div class="container">
    <div class="row-fluid show-grid digital-con">
      <div class="span6"><img src="assets/images/leverage.jpg" alt=""></div>
      <div class="span6 ">
        <h2>Leverage the benefits of SaaS</h2>
        <p class="bigfont">Software as a service (SaaS) is a software delivery model in which software and associated data are centrally hosted on the Internet rather than on-premise, which was the traditional model for digital content management. Benefits include:</p>
        <ul class="list-style">
          <li>Lower operating costs</li>
          <li>Accessible anytime, anywhere</li>
          <li> Unprecedented speed and security</li>
        </ul>
        <div class="buttons clearfix">
          <a class="show_hide btn tile-toggle" data-toggleID="4">Toggle Content</a>
          <a href="https://marketing.crownpeak.com/acton/form/3020/0057:d-0001/1/index.htm" class="btn" target="_blank">Request Demo</a>
        </div>
      </div>
    </div>
  </div>
  
  <!--SLIDING DIV-->
  <div class="slidingDiv toggle-content" data-toggleID="4">
    <div class="container">
      <div class="row-fluid show-grid">
        <div class="span7 full-width">
          <p><strong>NOTE: This has a class of full width to make it extend the full width of the section</strong></p>
          <p>CrownPeak's SaaS-based architecture separates marketing-driven elements that drive the digital experience into their own secure and manageable environment, called the Digital Experience Layer (TM). This Digital Experience Layer consists of marketing content, look and feel, personalization, localization and mobile optimization.</p>
          <p>Managing the Digital Experience Layer as a separate function enables organizations to launch new web and mobile projects and campaigns fast, without any IT effort.  Marketing can implement CrownPeak directly and gain full control over the entire digital experience, often for less than the cost of having an agency do a small campaign.</p>
        </div>
      </div>
      <div class="row-fluid show-grid">
        <div class="span6 whitepaper">
          <div class="row-fluid show-grid">
            <div class="span2"><img src="assets/images/white-paper.png" alt=""></div>
            <div class="span10">
              <strong>White Paper: </strong>
              <h2>The Business Case for a SaaS-based Web Content Management System.</h2>
              <a href="#" class="btn">Download Whitepaper</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--SLIDING DIV ENDS-->

  <!--Features-->
  <div class="features">
    <div class="inner-wrap">
      <div class="container">
        <h1 class="heading">Tools for Today’s Digital Marketer</h1>
        <h6 class="subheading">CrownPeak gives marketers an arsenal of powerful tools to support the most sophisticated digital campaigns.</h6>
        <div class="row-fluid show-grid col-3">
          <div class="span4"><img src="assets/images/content.png" alt=""><strong>Content Authoring &amp; Layout</strong>
            <p>Create sophisticated websites, landing pages, micro sites, mobile sites and more with an intuitive authoring and editing platform that, once setup, anyone can use - no coding required.</p>
          </div>
          <div class="span4"><img src="assets/images/management.png" alt=""><strong>Integrated Campaign Management</strong>
            <p>Go beyond email to reach your customers and prospects. Create, launch and manage multichannel marketing campaigns across web, mobile, social media, kiosks, ATMs and whatever other channels you use.</p>
          </div>
          <div class="span4 last"><img src="assets/images/media.png" alt=""><strong>Media Asset Management</strong>
            <p>Access all your digital marketing assets (like images, text, video, creative designs, etc.) in one central place, and easily leverage them across all channels. Shared permission-based access gives you the flexibility and control to maintain brand consistency regardless of format or location.</p>
          </div>
        </div>
        
        
        
        <div class="row-fluid show-grid col-3">
          <div class="span4"><img src="assets/images/localized.png" alt=""><strong>Localized Marketing</strong>
            <p>Build localized websites that deliver a great user experience with languages, images, products and offers that are specific to a country or region, while keeping the overall brand experience consistent across the globe.</p>
          </div>
          <div class="span4"><img src="assets/images/person.png" alt=""><strong>Personalization</strong>
            <p>Identify target segments, compile relevant content and deliver it via multiple channels - smartphone, tablet, website, and kiosks. Use event triggered marketing (if X happens, then deliver Y content) to personlaize the website experience using a variety of available data.</p>
          </div>
          <div class="span4 last"><img src="assets/images/analytics.png" alt=""><strong>Analytics</strong>
            <p>Make better decisions with integrated best-of-breed analytics. In a single dahsboard, you get targeting and testing results, social media analytics, conversion results and key data that is integrated from anyrelevant 3rd party system. The result is a clear picture of what’s happening, what’s working and what’s not.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Features-->
  <!-- Footer
    ================================================== -->
  <footer class="footer mtopnone">
    <div class="container">
      <div class="row-fluid">
        <div id="hide">
          <h3>Expand Footer Menu</h3>
        </div>
        <div id="firstimpression" class="patientinfodivs">
          <div class="span6">
            <div class="row-fluid">
              <div class="span6">
                <h3>Company Information</h3>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Customers</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Compliance</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="span6">
                <h3>Knowledge Center</h3>
                <ul>
                  <li><a href="#">Content Management Blog</a></li>
                  <li><a href="#">Content Marketing Blog</a></li>
                  <li><a href="#">Articles</a></li>
                  <li><a href="#">Webcasts</a></li>
                  <li><a href="#">White Papers</a></li>
                  <li><a href="#">Case Studies</a></li>
                  <li><a href="#">eBooks</a></li>
                  <li><a href="#">Infographics</a></li>
                  <li><a href="#">Videos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="row-fluid">
              <div class="span6">
                <h3>Development Resources</h3>
                <ul>
                  <li><a href="#">Documentation and Api</a></li>
                  <li><a href="#">Community</a></li>
                  <li><a href="#">Training</a></li>
                  <li><a href="#">Template Library</a></li>
                  <li><a href="#">Market Place</a></li>
                </ul>
              </div>
              <div class="span6 newsletter">
                <h3>Join Our Newsletter</h3>
                <form class="form-search">
                  <input type="text" class="input-medium search-query">
                  <br>
                  <button type="submit" class="btn submit">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="footer-bottom">
    <div class="container">
      <div class="row-fluid show-grid">
        <div class="span8 f-col">
          <p>Copyright &copy; 2001 - 2013 <strong>CrownPeak</strong>. All right reserved.  &nbsp; &nbsp;|<a href="https://crownpeak.com/privacy.html" class="flinks"> Disclaimer </a> |&nbsp; &nbsp; <strong>Call Us 1.800.887.1944</strong></p>
        </div>
        <div class="span4"><a href="#" class="f-logo"><img src="assets/images/f-logo.jpg" alt=""></a></div>
      </div>
    </div>
  </div>
</div>
<!--MAIN CONTENT ENDS-->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery.royalslider.min.js"></script>
<script src="assets/js/bootstrap-transition.js"></script>
<script src="assets/js/bootstrap-alert.js"></script>
<script src="assets/js/bootstrap-modal.js"></script>
<script src="assets/js/bootstrap-dropdown.js"></script>
<script src="assets/js/bootstrap-scrollspy.js"></script>
<script src="assets/js/bootstrap-tab.js"></script>
<script src="assets/js/bootstrap-tooltip.js"></script>
<script src="assets/js/bootstrap-popover.js"></script>
<script src="assets/js/bootstrap-button.js"></script>
<script src="assets/js/bootstrap-collapse.js"></script>
<script src="assets/js/bootstrap-carousel.js"></script>
<script src="assets/js/bootstrap-typeahead.js"></script>
<script src="assets/js/bootstrap-affix.js"></script>
<script src="assets/js/holder/holder.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/application.js"></script>

<!-- Analytics
    ================================================== -->
<script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
<script>
var s= jQuery.noConflict()
s(document).ready(function(){
  s("#hide").click(function(){
    s("#firstimpression").toggle();
	s("#nav").css("display","block");
  });
});
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1431359-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <script type="text/javascript">
  /* <![CDATA[ */
  document.write (
    '<img src="https://marketing.crownpeak.com/acton/bn/3020/visitor.gif?ts='+
    new Date().getTime()+
    '&ref='+escape(document.referrer) + '">'
  );
  var aoAccountId = '3020';
  var aoCookieMode = 'STANDARD';
  var aoCookieDomain = 'crownpeak.com';
  var aoServerContext = 'https://marketing.crownpeak.com/acton';
  /* ]]> */
</script>


<!-- Begin Google Code for Site Visitors Remarketing List -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1072713189;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "666666";
    var google_conversion_label = "6EewCMSZzwEQ5ZvB_wM";
    var google_conversion_value = 0;
    /* ]]> */
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1072713189/?label=6EewCMSZzwEQ5ZvB_wM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
<!-- End Google Code for Site Visitors Remarketing List -->
 <!-- Begin On Demand Code -->
        <script src="https://leads.demandbase.com/41253.js" type="text/javascript"></script>
<!-- End On Demand Code -->
 
<!-- Begin Salesforce Tracking Code, Place immediately before closing </BODY> tag --> 
<!--<SCRIPT type="text/javascript" src="https://lct.salesforce.com/sfga.js"></SCRIPT> 
<SCRIPT type="text/javascript">__sfga();</SCRIPT> -->
<!-- End Salesforce Tracking Code, Place immediately before closing </BODY> tag --> 



</body>
</html>
